body {
    --primary: #ff0080;
    --surface-1: white;
    --surface-2: #f9f9f9;
    --base: #f9f9f9;

    background-color: var(--base);
    margin: 0;
}

* {
    font-family: 'Poppins', sans-serif; 
}

section {
    padding: 2rem;
}